@model IEnumerable<TestApp.Models.CustomModel.EmployeeSalaryModel>

@{
    ViewBag.Title = "Index";
}
<br />
@Html.ActionLink("Employee", "Index", "Employee")<br />
@Html.ActionLink("Filter Salary", "Index", "FilterSalary")



<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
